<header class="site-header h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="header-heading">{{ site.title | escape }}</h2>

    <div class="header-col header-col-1">
      <div class="logo">
        <a href="{{ "/" | relative_url }}">
          <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Site Logo">
        </a>
      </div>
    </div>

    <div class="header-col header-col-2">
      {%- include navigation.html -%}
    </div>

  </div>
</header>
