// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.site-logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.site-logo img {
  max-height: 40px;
  width: auto;
}

.wrapper {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-left: auto;
}

.site-title {
  margin-right: 20px;
}
