<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <!-- Logo section -->
    <div class="logo-container" style="text-align: left; padding: 10px 20px;">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Site Logo" style="max-width: 100px; height: auto; ">
      </a>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
